.carouselSection {
    position: relative;
    margin-bottom: 70px;
    & > .contentWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .carouselTitle {
        font-size: 32px;
        background:  var(--gradient);
        font-weight: normal;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}